.upload__image-wrapper {
  margin: 0 30px;
  .mantine-1qu3tpo {
    margin: 0 30px 15px 0;
  }

}
.mantine-TextInput-label  {
    color: var(--card-paragraph);
  }

  .mantine-PasswordInput-label {
    color: var(--card-paragraph);
  }


  .mantine-Modal-title{
    margin-left: 30px;
    color: var(--text-headline);
    font-size: 30px;
  }

  .loading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
    color: (--gray-dark);
    font-size: 1.2rem;
  }
  