.header__tittle{
  color:var(--text-headline);
}
.header__avatar {
    width: 45px;
    height: 45px;
  cursor: pointer;
}

.header__avatar__icon {
  width: 30px;
  height: 30px;
}

.header__avatar__fig,
.header__avatar__img {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
}

.header__avatar__img {
  border-radius: 100%;
}
